div.sourceCode + pre code, pre:not(.r) code.hljs {
    color: #3f3f3f  ;
    background-color: #FDF6E3;
    border: 0;
    border-left: 1px solid #f36d33;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: .9em;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.2em;
    display: block;
    word-wrap: break-word;
}

div.sourceCode + pre, pre:not(.r) {
	border: 0;
	padding: 0;
}

div #TOC {
    border-top: 1px solid #eeeeee;
    padding-top: 10px;
}

video {
    width: 100%
}

img {
	border:1px solid #999; margin:3px;
}
